<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="content">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
					{{- end -}}
				</div>
				
				<!-- Render Homepage Content -->
				{{ with .Content }}
				<section class="about">
					{{ . }}
				</section>
				{{ else }}
				<p>Welcome to my site! Add content to _index.md to customize this page.</p>
				{{ end }}
			</main>
			
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
